body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b0d314;
}

.container {
    margin-top: 50px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

#results {
    margin-top: 20px;
}
